// colors
$primary-red: hsl(7, 99%, 70%);
$primary-yellow: hsl(51, 100%, 49%);
$primary-blue: hsl(198, 62%, 26%);
$primary-cyan: hsl(167, 44%, 70%);
$primary-dark-cyan: hsl(167, 40%, 24%);

$neutral-blue-1: hsl(212, 27%, 19%);
$neutral-blue-2: hsl(213, 9%, 39%);
$neutral-blue-3: hsl(232, 10%, 55%);
$neutral-blue-4: hsl(210, 4%, 67%);

$white: hsl(0, 0%, 100%);

$transition-timing: all 0.3s;
